bedrock_server.exe
bedrock_server_how_to.html
/resource_packs/chemistry
worlds/seed/db/000005.ldb
worlds/seed/db/000008.ldb
worlds/seed/db/000011.log
worlds/seed/db/000012.ldb
/worlds/seed/db
worlds/seed/level.dat
worlds/seed/level.dat_old
definitions
packet-statistics.txt
packet-statistics.txt
packet-statistics.txt
*.txt
packet-statistics.txt
/worlds/level/db
*.dat
*.dat_old
